.memberTitle {
    font-size: 60px;  
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase; 
    text-align: center; 
    color: #2c3e50; 
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); 
  }
  